<!-- <div class="container m-auto" style="border: 3px yellow solid; padding-top: 10%;"> -->
<div class="container p-5 my-md-5">
	<div class="row">
		<div class="col px-md-5">
			<div class="card epmsignupbox bg-accent">
				<div class="card-body">
					<h2 class="card-title epmsignupheader">
						Sign up and deploy your EPM environment in 15 minutes.
					</h2>
					<form class="form-signin">
						<div class="form-label-group">
							<input type="email" name="siemail" id="siemail" class="form-control" placeholder="Email address" required autofocus>
							<label for="siemail">Email address</label>
						</div>
						<div class="form-label-group">
							<input type="password" name="siepass" id="siepass" class="form-control" placeholder="Password" required>
							<label for="siepass">Password</label>
						</div>
						<button type="submit" class="btn btn-evwarning epmsignupbutton">Create account</button>
					</form>
				</div>
				<div class="card-footer">
					By signing up you agree to the
					<a routerLink="/terms-of-service">Terms of Service</a>.
				</div>
			</div>
		</div>
	</div>
</div>