<div class="container-fluid">
	<div class="row">
		<div class="btn-toolbar w-100 mb-1" role="toolbar">
			<div class="btn-group btn-group-xs ml-auto">
				<button class="btn btn-outline-dark" title="Reboot" (click)="reboot()"><i class="fas fa-redo-alt fa-fw"></i> Reboot</button>
				<button class="btn btn-outline-dark" title="Shutdown" (click)="shutdown()"><i class="fas fa-stop fa-fw"></i> Shutdown</button>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="nav nav-tabs w-100">
			<li class="nav-item">
				<a routerLink="." class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
					<i class="fas fa-sliders-h fa-fw"></i> Details
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="console" class="nav-link" routerLinkActive="active">
					Console
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="commands" class="nav-link" routerLinkActive="active">
					Commands
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="os" class="nav-link" routerLinkActive="active">
					OS
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="system" class="nav-link" routerLinkActive="active">
					System
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="cpu" class="nav-link" routerLinkActive="active">
					CPU
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="nics" class="nav-link" routerLinkActive="active">
					Network Interfaces
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="memory" class="nav-link" routerLinkActive="active">
					Memory Layout
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="disk" class="nav-link" routerLinkActive="active">
					Disks
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="storage-assignments" class="nav-link" routerLinkActive="active">
					Storage Assignments
				</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="tab-content p-0 border-top-0 border w-100 h-100">
			<div class="tab-pane active">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>