<form #f="ngForm" (ngSubmit)="ss.save(settings, f)">
	<div class="btn-toolbar" role="toolbar">
		<span *ngIf="f.dirty">Changes pending, please remember to save...</span>
		<div class="btn-group btn-group-sm ml-auto">
			<button class="btn btn-success" type="submit" [disabled]="f.invalid && f.dirty">Save</button>
		</div>
	</div>
	<div class="table-responsive pt-1">
		<table class="table table-sm">
			<thead>
				<tr>
					<th>Setting</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody class="text-nowrap">
				<tr>
					<th width="10">Title:</th>
					<td>
						<input type="text" name="siteTitle" class="form-control form-control-sm" [(ngModel)]="settings.title" placeholder="Site Title">
					</td>
				</tr>
				<tr>
					<th width="10">Description:</th>
					<td>
						<input type="text" name="siteDescription" class="form-control form-control-sm" [(ngModel)]="settings.description" placeholder="Site Description">
					</td>
				</tr>
				<tr>
					<th width="10">Logo:</th>
					<td>
						<div class="container-fluid">
							<div class="row">
								<div class="col-3 pl-0">
									<img src="{{logoUrl}}" *ngIf="logoUrl" class="mw-100">
								</div>
								<div class="col-9 text-right pr-0">
									<button (click)="changeLogo()" class="btn btn-sm btn-dark">Change Logo</button>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>