<form #f="ngForm" (ngSubmit)="save(f)">
	<div class="btn-toolbar" role="toolbar">
		<span *ngIf="f.dirty">Changes pending, please remember to click save...</span>
		<div class="btn-group btn-group-sm ml-auto">
			<button class="btn btn-success" type="submit" [disabled]="f.invalid && f.dirty">Save</button>
		</div>
	</div>
	<br>
	<div class="table-responsive">
		<table class="table table-condensed table-sm">
			<tbody class="text-nowrap">
				<tr>
					<th width="100px">Company Name:</th>
					<td>
						<input type="text" name="companyname" class="form-control form-control-sm" [(ngModel)]="settings.companyName">
					</td>
				</tr>
				<tr>
					<th>Company Start Date:</th>
					<td>
						<input type="date" name="companyStartDate" class="form-control form-control-sm" [(ngModel)]="settings.companyStartDate" date>
					</td>
				</tr>
				<tr>
					<th>Admin E-mail Address:</th>
					<td>
						<input type="email" name="adminemail" class="form-control form-control-sm" [(ngModel)]="settings.adminEmailAddress" email>
					</td>
				</tr>
				<tr>
					<th>Support E-mail Address:</th>
					<td>
						<input type="email" name="supportemail" class="form-control form-control-sm" [(ngModel)]="settings.supportEmailAddress">
					</td>
				</tr>
				<tr>
					<th>Accounting E-mail Address:</th>
					<td>
						<input type="email" name="accountingemail" class="form-control form-control-sm" [(ngModel)]="settings.accountingEmailAddress">
					</td>
				</tr>
				<tr>
					<th>Sales E-mail Address:</th>
					<td>
						<input type="email" name="salesemail" class="form-control form-control-sm" [(ngModel)]="settings.salesEmailAddress">
					</td>
				</tr>
				<tr>
					<th>Domain:</th>
					<td>
						<input type="url" name="domain" class="form-control form-control-sm" [(ngModel)]="settings.domain">
					</td>
				</tr>
				<tr>
					<th>Logo URL:</th>
					<td>
						<input type="url" name="logourl" class="form-control form-control-sm" [(ngModel)]="settings.logoURL">
					</td>
				</tr>
				<tr>
					<th>Pay to Text:</th>
					<td>
						<input type="text" name="paytotext" class="form-control form-control-sm" [(ngModel)]="settings.paytoText">
					</td>
				</tr>
				<tr>
					<th>Phone Numbers:</th>
					<td class="text-right">
						<ng-container *ngFor="let phone of settings.phoneNumbers">
							<div class="input-group input-group-sm">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupPrepend">{{phone.position + 1}}</span>
								</div>
								<input type="text" name="phonecountry{{phone.position}}" class="form-control form-control-sm" [(ngModel)]="phone.country" placeholder="Country">
								<input type="text" name="phonenumbern{{phone.position}}" class="form-control form-control-sm" [(ngModel)]="phone.number" placeholder="Phone Number">
								<input type="text" name="phonenumberl{{phone.position}}" class="form-control form-control-sm" [(ngModel)]="phone.linkNumber" placeholder="Link Number">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button">
										<i class="fas fa-caret-down"></i>
									</button>
									<button class="btn btn-outline-secondary" type="button">
										<i class="fas fa-caret-up"></i>
									</button>
									<button class="btn btn-outline-danger" type="button">
										<i class="fas fa-trash-alt"></i>
									</button>
								</div>
							</div>
						</ng-container>
						<br>
						<button class="btn btn-sm btn-outline-success" type="button">
							<i class="fas fa-plus-circle"></i>
						</button>
					</td>
				</tr>
				<tr>
					<th>Counters:</th>
					<td></td>
				</tr>
				<tr>
					<th>Selected E-mail Transport:</th>
					<td></td>
				</tr>
				<tr>
					<th>E-mail Letter Head Color:</th>
					<td>
						<input type="color" name="emailletterheadcolor" class="form-control form-control-sm" [(ngModel)]="settings.eMailLetterHeadColor">
					</td>
				</tr>
				<tr>
					<th>E-mail Letter Head Logo URL:</th>
					<td>
						<input type="url" name="emailletterheadurl" class="form-control form-control-sm" [(ngModel)]="settings.eMailLetterHeadLogoURL">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>