<div class="container-fluid py-2">
	<div class="btn-toolbar w-100" role="toolbar">
		<div class="btn-group btn-group-sm ml-auto">
			<button type="button" class="btn btn-outline-dark" title="New Node">
				<i class="fas fa-industry fa-fw"></i> New Node
			</button>
		</div>
	</div>
	<div class="row">
		<ul class="nav nav-tabs w-100">
			<li class="nav-item ml-3">
				<a routerLink="." class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
					<i class="far fa-list-alt fa-fw"></i> List
				</a>
			</li>
			<li class="nav-item" *ngIf="candidates.length > 0">
				<a routerLink="candidates" class="nav-link" routerLinkActive="active">
					<i class="fas fa-handshake fa-fw"></i> Candidates
				</a>
			</li>
			<li class="nav-item" *ngFor="let item of items;">
				<a routerLink="{{item.id}}" class="nav-link" routerLinkActive="active">
					<i class="fas fa-industry fa-fw"></i> {{ item.name }}
				</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="tab-content p-3 w-100">
			<div class="tab-pane active">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>