<div class="container-fluid py-2">
	<div class="row">
		<ul class="nav nav-tabs w-100">
			<li class="nav-item ml-3">
				<a routerLink="." class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
					<i class="far fa-list-alt fa-fw"></i> List
				</a>
			</li>
			<ng-container *ngIf="candidates$ | async as candidates">
				<li class="nav-item" *ngIf="candidates.items && candidates.items.length > 0">
					<a routerLink="candidates" class="nav-link" routerLinkActive="active">
						<i class="fas fa-handshake fa-fw"></i> Candidates
					</a>
				</li>
			</ng-container>
			<ng-container *ngIf="nodes$ | async as nodes">
				<li class="nav-item" *ngFor="let node of nodes;">
					<a routerLink="{{node.id}}" class="nav-link" routerLinkActive="active">
						<i class="fas fa-industry fa-fw"></i> {{ node.name }}
					</a>
				</li>
			</ng-container>
		</ul>
	</div>
	<div class="row">
		<div class="tab-content p-3 w-100">
			<div class="tab-pane active">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>