<ng-container *ngIf="item$ | async as item">
	<form (ngSubmit)="saveProfile(f)" #f="ngForm">
		<div class="container-fluid py-2">
			<div class="row">
				<div class="col">
					<div class="btn-toolbar">
						<div class="btn-group btn-group-xs ml-auto">
							<button type="submit" class="btn btn-outline-secondary" [disabled]="f.invalid && f.dirty">
								<i class="fas fa-save fa-fw"></i> Save
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="table-responsive">
						<table class="table table-sm table-borderless m-0">
							<tbody>
								<tr>
									<td class="text-nowrap align-middle" width="10">Display Name:</td>
									<td>
										<input type="text" name="dName" id="dName" class="form-control form-control-sm" [(ngModel)]="item.displayName">
									</td>
								</tr>
								<tr>
									<td class="text-nowrap align-middle" width="10">E-mail Address:</td>
									<td>
										<input type="text" name="eMailAddress" id="eMailAddress" class="form-control form-control-sm" [(ngModel)]="item.email">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</ng-container>