<div class="footercontainer bg-maindark py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-lg-6 mb-3">
				<!-- <img src="assets/epmvirtuallogont.png" alt="EPMVirtual Logo"> -->
				<b>EPMVirtual</b><br>
				<div class="mt-3">
					<a href="http://www.twitter.com/epmvirtual" target="_blank" class="whitetext"><i class="fab fa-twitter fa-fw"></i></a>
					<span class="mx-1">&nbsp;</span>
					<a href="http://www.linkedin.com/company/epmvirtual" target="_blank" class="whitetext"><i class="fab fa-linkedin-in fa-fw"></i></a>
				</div>
				<div class="mt-5 copyright">Copyright © 2013 EPMVirtual. All rights reserved.</div>
			</div>
			<div class="col-md-2 col-lg-2 mb-3">
				<a routerLink="/">Home</a><br>
				<a routerLink="/signup">Sign Up</a><br>
				<a routerLink="/library">Library</a><br>
				<a routerLink="/about">About</a>
			</div>
			<div class="col-md-2 col-lg-2 mb-3">
				<a routerLink="/servers">Servers</a><br>
				<a routerLink="/managed-servers">Managed Servers</a><br>
				<a routerLink="/templates">Templates</a><br>
				<a routerLink="/library/1">Benefits</a><br>
			</div>
			<div class="col-md-3 col-lg-2 mb-3">
				<a routerLink="/hyperion-essbase">Essbase</a><br>
				<a routerLink="/hyperion-planning">Planning</a><br>
				<a routerLink="/hyperion-hfm">HFM</a><br>
				<a routerLink="/hyperion-reporting-and-analysis">Reporting &amp; Analysis</a><br>
				<a routerLink="/hyperion-profitability-and-cost-management">HPCM</a><br>
				<a routerLink="/hyperion-drm">DRM</a><br>
				<a routerLink="/hyperion-fdmee">FDMEE</a><br>
			</div>
		</div>
	</div>
</div>