<form (ngSubmit)="ss.save(item, f)" #f="ngForm">
	<div class="btn-toolbar mb-3" role="toolbar">
		<div class="btn-group btn-group-sm ml-auto pr-1">
			<button type="submit" class="btn btn-outline-success" [disabled]="f.invalid && f.dirty">
				<i class="fas fa-save fa-fw"></i> Save
			</button>
			<button type="button" class="btn btn-outline-dark" (click)="insertImage()">
				Insert Image
			</button>
		</div>
	</div>
	<table class="table table-sm table-borderless my-0">
		<tbody>
			<tr>
				<td width="10" class="text-nowrap align-middle">Title:</td>
				<td>
					<input type="text" name="title" class="form-control form-control-sm" [(ngModel)]="section.title">
				</td>
			</tr>
			<tr>
				<td class="text-nowrap align-middle" colspan="2">Content:</td>
			</tr>
			<tr>
				<td colspan="2" style="height: calc(100vh - 300px);">
					<ngx-monaco-editor name="content" class="h-100 d-block" [options]="editorOptions" [(ngModel)]="section.content" (onInit)="setEditor($event, f)"></ngx-monaco-editor>
				</td>
			</tr>
		</tbody>
	</table>
</form>