<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
	<a class="navbar-brand" routerLink="./">
		<!-- <img src="assets/epmvirtuallogont.png" alt="EPMVirtual" height="24px"> -->
		<img src="assets/epmvirtuallogont.png" alt="EPMVirtual" height="24px">
	</a>
	<button class="btn btn-light collapsed d-block d-md-none" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
		<i class="fas fa-bars"></i>
	</button>
	<div class="collapse navbar-collapse" [collapse]="isCollapsed">
		<!-- <ul class="navbar-nav mr-3">
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="datacenters" title="Data Centers">
					<i class="fas fa-building fa-fw"></i>
					<br>DCs
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="storagepools" title="Storage Pools">
					<i class="far fa-hdd fa-fw"></i>
					<br>Storage Pools
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="settings" title="Settings">
					<i class="fas fa-cog fa-fw"></i>
					<br>Settings
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="library" title="Library">
					<i class="fas fa-book fa-fw"></i>
					<br>Library
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="assets" title="Assets">
					<i class="far fa-images fa-fw"></i>
					<br>Assets
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="plans" title="Plans">
					<i class="far fa-clone fa-fw"></i>
					<br>Plans
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="imagegroups" title="Image Groups">
					<i class="far fa-object-group fa-fw"></i>
					<br>Image Groups
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="images" title="Images">
					<i class="fas fa-puzzle-piece fa-fw"></i>
					<br>Images
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="nodes" title="Nodes">
					<i class="fas fa-industry fa-fw"></i>
					<br>Nodes
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="ipblocks" title="IP Blocks">
					<i class="fas fa-share-alt fa-fw"></i>
					<br>IP Blocks
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="isofiles" title="ISO Files">
					<i class="fas fa-dot-circle fa-fw"></i>
					<br>ISO Files
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="mailtemplates" title="Mail Templates">
					<i class="far fa-newspaper fa-fw"></i>
					<br>Mail Templates
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a routerLink="servers" class="nav-link" title="Servers">
					<i class="fas fa-server fa-fw"></i><br>Servers
				</a>
			</li>
		</ul> -->
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown pointer" dropdown *ngIf="concept$ | async as concept">
				<!-- <a routerLink="/admin/{{concept.link}}" class="nav-link dropdown-toggle text-dark font-weight-bold" dropdownToggle> -->
				<a class="nav-link dropdown-toggle text-dark font-weight-bold" dropdownToggle *ngIf="concept.label != ''">
					{{ concept.label | titlecase }}
				</a>
				<a class="nav-link dropdown-toggle text-dark font-weight-bold" dropdownToggle *ngIf="concept.label == ''">
					Start Here
				</a>
				<div class="dropdown-menu" *dropdownMenu>
					<a class="dropdown-item px-2" routerLink="datacenters" title="Data Centers">
						<i class="fas fa-building fa-fw"></i> Data Centers
					</a>
					<a class="dropdown-item px-2" routerLink="storagepools" title="Storage Pools">
						<i class="far fa-hdd fa-fw"></i> Storage Pools
					</a>
					<a class="dropdown-item px-2" routerLink="settings" title="Settings">
						<i class="fas fa-cog fa-fw"></i> Settings
					</a>
					<a class="dropdown-item px-2" routerLink="library" title="Library">
						<i class="fas fa-book fa-fw"></i> Library
					</a>
					<a class="dropdown-item px-2" routerLink="assets" title="Assets">
						<i class="far fa-images fa-fw"></i> Assets
					</a>
					<a class="dropdown-item px-2" routerLink="plans" title="Plans">
						<i class="far fa-clone fa-fw"></i> Plans
					</a>
					<a class="dropdown-item px-2" routerLink="imagegroups" title="Image Groups">
						<i class="far fa-object-group fa-fw"></i> Image Groups
					</a>
					<a class="dropdown-item px-2" routerLink="images" title="Images">
						<i class="fas fa-puzzle-piece fa-fw"></i> Images
					</a>
					<a class="dropdown-item px-2" routerLink="nodes" title="Nodes">
						<i class="fas fa-industry fa-fw"></i> Nodes
					</a>
					<a class="dropdown-item px-2" routerLink="ipblocks" title="IP Blocks">
						<i class="fas fa-share-alt fa-fw"></i> IP Blocks
					</a>
					<a class="dropdown-item px-2" routerLink="isofiles" title="ISO Files">
						<i class="fas fa-dot-circle fa-fw"></i> ISO Files
					</a>
					<a class="dropdown-item px-2" routerLink="mailtemplates" title="Mail Templates">
						<i class="far fa-newspaper fa-fw"></i> Mail Templates
					</a>
					<a class="dropdown-item px-2" routerLink="servers" title="Servers">
						<i class="fas fa-server fa-fw"></i> Servers
					</a>
				</div>
			</li>
		</ul>
		<ul class="navbar-nav navbar-right">
			<li class="nav-item">
				<a class="nav-link" (click)="signOut()" title="Sign Out">
					<i class="fas fa-sign-out-alt fa-fw"></i>
					<!-- <br>Sign Out -->
				</a>
			</li>
		</ul>
	</div>
</nav>