<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
	<a class="navbar-brand" routerLink="./">
		<img src="assets/epmvirtuallogont.png" alt="EPMVirtual" height="24px">
	</a>
	<button class="btn btn-light collapsed d-block d-md-none" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
		<i class="fas fa-bars"></i>
	</button>
	<div class="collapse navbar-collapse" [collapse]="isCollapsed">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="datacenters" title="Data Centers">
					<i class="fas fa-building fa-fw"></i>
					<br>DCs
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="storagepools" title="Storage Pools">
					<i class="far fa-hdd fa-fw"></i>
					<br>Storage Pools
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="settings" title="Settings">
					<i class="fas fa-cog fa-fw"></i>
					<br>Settings
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="library" title="Library">
					<i class="fas fa-book fa-fw"></i>
					<br>Library
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="assets" title="Assets">
					<i class="far fa-images fa-fw"></i>
					<br>Assets
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="plans" title="Plans">
					<i class="far fa-clone fa-fw"></i>
					<br>Plans
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="imagegroups" title="Image Groups">
					<i class="far fa-object-group fa-fw"></i>
					<br>Image Groups
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="images" title="Images">
					<i class="fas fa-puzzle-piece fa-fw"></i>
					<br>Images
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="nodes" title="Nodes">
					<i class="fas fa-industry fa-fw"></i>
					<br>Nodes
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="ipblocks" title="IP Blocks">
					<i class="fas fa-share-alt fa-fw"></i>
					<br>IP Blocks
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="isofiles" title="ISO Files">
					<i class="fas fa-dot-circle fa-fw"></i>
					<br>ISO Files
				</a>
			</li>
			<li class="nav-item" routerLinkActive="border-bottom border-evwarning">
				<a class="nav-link" routerLink="mailtemplates" title="Mail Templates">
					<i class="far fa-newspaper fa-fw"></i>
					<br>Mail Templates
				</a>
			</li>

		</ul>
		<ul class="navbar-nav navbar-right">
			<li class="nav-item">
				<a class="nav-link" (click)="signOut()" title="Sign Out">
					<i class="fas fa-sign-out-alt fa-fw"></i>
					<br>Sign Out</a>
			</li>
		</ul>
	</div>
</nav>