.navbar {
	padding: .1rem 1rem;
}

.nav-item {
	text-align: center;
	// line-height: 75%;
	font-stretch: condensed;
	letter-spacing: -.5px;
	font-size: 12px;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 0.75);
	cursor: pointer;
}
