<div class="container-fluid">
	<div class="row" *ngIf="candidates.length > 0">
		<div class="col">
			<div class="alert alert-danger" role="alert">
				There are candidates to be registered. <br>Please check candidates tab to take action.
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="table-responsive m-0 p-0">
				<table class="table table-sm table-bordered m-0">
					<thead>
						<tr>
							<th class="text-nowrap" width="10">Actions</th>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngIf="items.length == 0">
							<td colspan="100">Currently there are no nodes assigned to the system.</td>
						</tr>
						<tr *ngFor="let item of items;">
							<td class="text-nowrap">
								<a routerLink="{{item.id}}"><i class="fas fa-sliders-h fa-fw" title="Node Details"></i></a>
								<i class="far fa-trash-alt fa-fw pointer text-danger ml-3" title="Delete Node" (click)="nodeDelete(item.id, item.name)"></i>
							</td>
							<td>{{item.name}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>