<div class="container-fluid py-2">
	<div class="btn-toolbar w-100" role="toolbar">
		<div class="btn-group btn-group-sm ml-auto">
			<button type="button" class="btn btn-outline-dark" title="New Data Center" (click)="ss.itemCreate()">
				<i class="far fa-hdd fa-fw"></i> New DC
			</button>
		</div>
	</div>
	<div class="row">
		<ul class="nav nav-tabs w-100">
			<li class="nav-item ml-3">
				<a routerLink="." class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
					<i class="far fa-list-alt fa-fw"></i> List
				</a>
			</li>
			<ng-container *ngIf="dcs$ | async as dcs">
				<li class="nav-item" *ngFor="let dc of dcs;">
					<a routerLink="{{dc.id}}" class="nav-link" routerLinkActive="active">
						<i class="fas fa-building fa-fw"></i> {{dc.name}}
					</a>
				</li>
			</ng-container>
		</ul>
	</div>
	<div class="row">
		<div class="tab-content p-3 w-100">
			<div class="tab-pane active">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>