<div class="container pt-5">
	<div class="row pt-3 pb-5 mb-5">
		<div class="col">
			<h1 class="text-center mb-5">Our Offers</h1>
			<div class="row equal">
				<div class="col mx-3 mb-3 bg-success d-block text-white h-100 w-100 p-4 rounded text-center">
					<h2>Servers</h2>
					We provide two types of servers. Please click the below links to find out more.
					<div class="d-block w-100 mt-4 d-md-none">
						<a class="btn btn-dark mx-4 w-75 mb-2" routerLink="/servers">Servers</a>
						<a class="btn btn-dark mx-4 w-75" routerLink="/managed-servers">Managed Servers</a>
					</div>
					<div class="d-none d-md-block w-100 mt-4">
						<a class="btn btn-dark mx-4 w-25" routerLink="/servers">Servers</a>
						<a class="btn btn-dark mx-4 w-25" routerLink="/managed-servers">Managed Servers</a>
					</div>
				</div>
				<div class="w-100"></div>
				<div class="col mx-3 mb-3 bg-success d-block text-white h-100 w-100 p-4 rounded text-center">
					<h2>Templates</h2>
					<div class="d-block w-100 mt-4 d-md-none">
						<a class="btn btn-dark mx-4 w-75 mb-2" routerLink="/templates">List of Templates</a>
						<a class="btn btn-dark mx-4 w-75" routerLink="/what-is-a-template">What is a template?</a>
					</div>
					<div class="d-none d-md-block w-100 mt-4">
						<a class="btn btn-dark mx-4 w-25" routerLink="/templates">List of Templates</a>
						<a class="btn btn-dark mx-4 w-25" routerLink="/what-is-a-template">What is a template?</a>
					</div>
				</div>
				<div class="w-100"></div>
				<div class="col mx-3 mb-3 bg-success d-block text-white h-100 w-100 p-4 rounded text-center">
					<h2>Provided Applications</h2>
					<div class="d-block w-100 mt-4 d-md-none">
						<a class="btn btn-dark mx-4 my-2 w-75" routerLink="/hyperion-essbase">Essbase</a>
						<a class="btn btn-dark mx-4 my-2 w-75" routerLink="/hyperion-planning">Planning</a>
						<a class="btn btn-dark mx-4 my-2 w-75" routerLink="/hyperion-hfm">HFM</a>
						<a class="btn btn-dark mx-4 my-2 w-75" routerLink="/hyperion-reporting-and-analysis">Reporting &amp; Analysis</a>
						<a class="btn btn-dark mx-4 my-2 w-75" routerLink="/hyperion-profitability-and-cost-management">HPCM</a>
						<a class="btn btn-dark mx-4 my-2 w-75" routerLink="/hyperion-drm">DRM</a>
						<a class="btn btn-dark mx-4 my-2 w-75" routerLink="/hyperion-fdmee">FDMEE</a>
					</div>
					<div class="d-none d-md-block w-100 mt-4">
						<a class="btn btn-dark mx-4 my-2 w-25" routerLink="/hyperion-essbase">Essbase</a>
						<a class="btn btn-dark mx-4 my-2 w-25" routerLink="/hyperion-planning">Planning</a>
						<a class="btn btn-dark mx-4 my-2 w-25" routerLink="/hyperion-hfm">HFM</a>
						<a class="btn btn-dark mx-4 my-2 w-25" routerLink="/hyperion-reporting-and-analysis">Reporting&amp;Analysis</a>
						<a class="btn btn-dark mx-4 my-2 w-25" routerLink="/hyperion-profitability-and-cost-management">HPCM</a>
						<a class="btn btn-dark mx-4 my-2 w-25" routerLink="/hyperion-drm">DRM</a>
						<a class="btn btn-dark mx-4 my-2 w-25" routerLink="/hyperion-fdmee">FDMEE</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>