<div class="container-fluid py-2">
	<div class="row">
		<div class="col">
			<div class="btn-toolbar">
				<div class="btn-group btn-group-xs ml-auto">
					<button type="button" class="btn btn-outline-secondary" title="Boot Up"><i class="fas fa-play fa-fw"></i></button>
					<button type="button" class="btn btn-outline-secondary" title="Shut Down"><i class="fas fa-stop fa-fw"></i></button>
					<button type="button" class="btn btn-outline-secondary" title="Reboot"><i class="fas fa-redo fa-fw"></i></button>
					<button type="button" class="btn btn-outline-secondary" title="Power Off"><i class="fas fa-plug fa-fw"></i></button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="nav nav-tabs w-100">
			<li class="nav-item ml-3">
				<a routerLink="." class="nav-link" routerLinkActive="active font-weight-bold" [routerLinkActiveOptions]="{exact:true}">
					Main Information
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="console" class="nav-link" routerLinkActive="active font-weight-bold" [routerLinkActiveOptions]="{exact:true}">
					Console
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="connectiondetails" class="nav-link" routerLinkActive="active font-weight-bold" [routerLinkActiveOptions]="{exact:true}">
					Connection Details
				</a>
			</li>
			<li class="nav-item">
				<a routerLink="migration" class="nav-link" routerLinkActive="active font-weight-bold" [routerLinkActiveOptions]="{exact:true}">
					Migration
				</a>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col">
			<div class="tab-content">
				<div class="tab-pane active">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</div>