<!-- <div class="container m-auto" style="border: 3px yellow solid; padding-top: 10%;"> -->
<div class="container p-5 my-lg-5">
	<div class="row">
		<div class="col text-center">
			<a [routerLink]="'/'">
				<img src="assets/epmvirtuallogo.png" alt="EPMVirtual Logo">
			</a>
			<div class="card epmsigninbox mx-auto bg-accent mb-3 mt-5">
				<div class="card-body text-center">
					<h2 class="card-title epmsignupheader">
						Sign In
					</h2>
					<form class="form-signin mb-4" #signinForm="ngForm" (ngSubmit)="signin(signinForm)">
						<div class="form-label-group">
							<input type="email" name="email" id="email" class="form-control" placeholder="Email address" ngModel required autofocus>
							<label for="email">Email address</label>
						</div>
						<div class="form-label-group">
							<input type="password" name="password" id="password" class="form-control" placeholder="Password" ngModel required>
							<label for="password">Password</label>
						</div>
						<div class="alert alert-danger" *ngIf="signInError">{{ signInError }}</div>
						<button type="submit" class="btn btn-evwarning epmsignupbutton">Sign In</button>
					</form>
					<a routerLink="/passwordrecovery">Forgot password?</a>
				</div>
			</div>
			Don't have an account?
			<a routerLink="/signup">Sign Up</a>
		</div>
	</div>
</div>