<ng-container *ngIf="node$ | async as node; else loading">
	<div class="container-fluid py-3">
		<div class="row">
			<div class="col">
				<div class="btn-toolbar">
					<div class="btn-group btn-group-sm" dropdown>
						<button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
							Preset Commands <span class="caret"></span>
						</button>
						<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
							<li role="menuitem" *ngFor="let setcmd of setCommands" (click)="runCommand(setcmd.command)">
								<a class="dropdown-item">{{setcmd.label}}</a>
							</li>
							<li class="divider dropdown-divider"></li>
							<li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
							</li>
						</ul>
						<button class="btn btn-accent">Run</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<pre>{{node.lastCommandResult}}</pre>
			</div>
		</div>
	</div>
</ng-container>
<ng-template #loading>
	<div class="container-fluid py-3">
		Please wait, loading...
	</div>
</ng-template>