<ng-container *ngIf="node$ | async as node; else loading">
	<div class="container-fluid py-3">
		<div class="row">
			<div class="col">
				<div class="btn-toolbar">
					<div class="btn-group btn-group-sm mr-auto" dropdown>
						<button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
							Preset Commands <span class="caret"></span>
						</button>
						<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
							<li role="menuitem" *ngFor="let setcmd of setCommands" (click)="runCommand(setcmd.command)">
								<a class="dropdown-item">{{setcmd.label}}</a>
							</li>
							<li class="divider dropdown-divider"></li>
							<li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
							</li>
						</ul>
					</div>
					<form (ngSubmit)="runCommand(customCommand)">
						<div class="input-group input-group-sm">
							<input type="text" name="ccmd" class="form-control" placeholder="Custom Command" [(ngModel)]="customCommand">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="submit">Run</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col">
				<pre>Current Command: {{ node.currentCommand }}</pre>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<pre>Last Command: {{ node.lastCommand }}</pre>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<pre>Last Command Result:{{ '\n' + node.lastCommandResult }}</pre>
			</div>
		</div>
	</div>
</ng-container>
<ng-template #loading>
	<div class="container-fluid py-3">
		Please wait, loading...
	</div>
</ng-template>