<div class="topbarcontainer">
	<div class="container p-1 px-md-3">
		<div class="d-flex p-0 m-0" style="font-size: 10px; line-height: 18px; padding-top: 4px; padding-bottom: 4px;">
			<span class="mr-auto">
				<span class="flag-icon flag-icon-us"></span> +1-646-741-21-42
				<span class="flag-icon flag-icon-gb"></span> +44-203-695-04-02
			</span>
			<span class="ml-auto">
				<a class="p-1 p-md-2 text-white" [routerLink]="'/signin'">Sign In</a>
				<a class="p-1 p-md-2 text-white" href="#">Sign Up</a>
			</span>
		</div>
	</div>
</div>

<div class="box-shadow bg-accent">
	<div class="container">
		<div class="d-flex flex-column flex-md-row align-items-center p-0 py-3 mb-3">
			<h5 class="my-0 mr-md-auto font-weight-normal">
				<a [routerLink]="'/'">
					<img src="assets/epmvirtuallogo.png" alt="EPMVirtual Logo">
				</a>
			</h5>
			<nav class="my-2 my-md-0 m-0 p-0">
				<a class="p-1 p-md-2 text-dark navbar-button" href="https://blog.epmvirtual.com">Blog</a>
				<a class="p-1 p-md-2 text-dark navbar-button" href="#">Our Offers</a>
				<a class="p-1 p-md-2 text-dark navbar-button" href="#">Library</a>
				<a class="p-1 p-md-2 text-dark navbar-button" href="#">About</a>
			</nav>
		</div>
	</div>
</div>