.navbar-button { font-weight: 700;text-shadow: rgb(232, 234, 233) 1px 1px 1px; text-decoration: underline; text-decoration-color: rgba(52, 58, 64, .5); }
.navbar-button-outline { font-weight: 700;text-shadow: rgb(232, 234, 233) 1px 1px 1px; }
.topbarcontainer { background-color: rgb(36, 42, 47); color: white }