<ng-container *ngIf="item$ | async as item">
	<form (ngSubmit)="ss.save( item, f )" #f="ngForm">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="btn-toolbar my-2">
						<div class="btn-group btn-group-xs ml-auto">
							<button type="submit" class="btn btn-success" [disabled]="f.invalid && f.dirty">
								<i class="fas fa-save fa-fw"></i>
							</button>
						</div>
					</div>
					<div class="table-responsive m-0">
						<table class="table table-sm table-borderless m-0">
							<tbody>
								<tr>
									<td class="text-nowrap align-middle font-weight-bold" width="10">Status:</td>
									<td>
										{{statuses[item.status]}}
									</td>
								</tr>
								<tr>
									<td class="text-nowrap align-middle font-weight-bold" width="10">Name:</td>
									<td>
										<input type="text" name="sName" id="sName" class="form-control form-control-sm" [(ngModel)]="item.name">
									</td>
								</tr>
								<tr>
									<td class="text-nowrap align-middle font-weight-bold" width="10">CPU:</td>
									<td>
										<div class="input-group input-group-sm">
											<input type="number" name="sCPU" id="sCPU" class="form-control form-control-sm" [(ngModel)]="item.cpu">
											<div class="input-group-append">
												<span class="input-group-text">Core<ng-container *ngIf="item.cpu > 1">s</ng-container></span>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="text-nowrap align-middle font-weight-bold" width="10">RAM:</td>
									<td>
										<div class="input-group input-group-sm">
											<input type="number" name="sRAM" id="sRAM" class="form-control form-control-sm" [(ngModel)]="item.ram">
											<div class="input-group-append">
												<span class="input-group-text">MB ({{(item.ram || 0) / 1024}} GB)</span>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="text-nowrap align-middle font-weight-bold" width="10">HDD:</td>
									<td>
										<div class="input-group input-group-sm">
											<input type="number" name="sHDD" id="sHDD" class="form-control form-control-sm" [(ngModel)]="item.hdd">
											<div class="input-group-append">
												<span class="input-group-text">GB</span>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="text-nowrap align-middle font-weight-bold" width="10">Bandwidth:</td>
									<td>
										<div class="input-group input-group-sm">
											<input type="number" name="sBandwidth" id="sBandwidth" class="form-control form-control-sm" [(ngModel)]="item.bandwidth">
											<div class="input-group-append">
												<span class="input-group-text">GB</span>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="text-nowrap align-middle font-weight-bold" width="10">IP Address:</td>
									<td>
										<input type="text" name="sIP" id="sIP" class="form-control form-control-sm" [(ngModel)]="item.ip">
									</td>
								</tr>
								<tr>
									<td class="text-nowrap align-middle font-weight-bold" width="10">MAC Address:</td>
									<td>
										<input type="text" name="sMac" id="sMac" class="form-control form-control-sm" [(ngModel)]="item.mac">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
	<pre>{{ item | json }}</pre>
</ng-container>
<!-- <p>
	server-detail works!
</p>
<pre>{{ id$ | async | json }}</pre>

<pre>{{ item$ | async | json }}</pre> -->