<nav aria-label="breadcrumb" class="p-0">
	<ol class="breadcrumb py-1 rounded-0">
		<ng-container *ngFor="let crumb of crumbs; let islast = last;">
			<li class="breadcrumb-item" [ngClass]="{active: islast}">
				<a routerLink="{{crumb.id}}">{{crumb.name}}</a>
			</li>
		</ng-container>
	</ol>
</nav>
<div class="btn-toolbar w-100 mb-3" role="toolbar">
	<div class="btn-group btn-group-sm ml-3" role="group">
		<button type="button" class="btn btn-outline-evwarning" (click)="ss.deleteSelected()" *ngIf="ss.selectedItems.length > 0">
			<i class="far fa-trash-alt fa-fw" title="Delete Selected"></i> Delete Selected
		</button>
	</div>
	<div class="btn-group btn-group-sm ml-auto mr-3" role="group">
		<button type="button" class="btn btn-outline-dark" (click)="ss.itemCreate({concept:'assets', details:{type: itemType.folder}})">
			<i class="fas fa-folder fa-fw"></i> New Folder
		</button>
		<button type="button" class="btn btn-outline-dark" (click)="ss.itemUpload({concept:'assets', details:{type: itemType.asset}})">
			<i class="fas fa-file fa-fw"></i> New Asset
		</button>
	</div>
</div>
<main role="main">
	<router-outlet></router-outlet>
</main>