<ng-container *ngIf="node$ | async as node; else loading">
	<div class="container-fluid my-3">
		<div class="row">
			<div class="col">
				<div class="btn-toolbar w-100 my-1" role="toolbar">
					<span>
						<!-- <i class="fas fa-pause-circle fa-fw" *ngIf="(pcstate$ | async) == 'Not initiated'"></i> -->
						<i class="fas fa-pause-circle fa-fw" *ngIf="pcstate == 'Not initiated'"></i>
						<!-- <i class="fas fa-circle-notch fa-spin fa-fw" *ngIf="(pcstate$ | async) != 'Not initiated' && (pcstate$ | async) != 'completed'"></i> -->
						<i class="fas fa-circle-notch fa-spin fa-fw" *ngIf="pcstate != 'Not initiated' && pcstate != 'completed'"></i>
						<!-- <i class="fas fa-check-circle fa-fw" *ngIf="(pcstate$ | async) == 'completed'"></i> -->
						<i class="fas fa-check-circle fa-fw" *ngIf="pcstate == 'completed'"></i>
						<!-- Peer Connection: {{ pcstate$ | async }} -->
						Peer Connection: {{ pcstate }}
					</span>
					<span class="ml-auto">
						Dims: {{ termDims }}
					</span>
					<div class="btn-group btn-group-xs ml-5">
						<!-- <button type="button" class="btn btn-outline-dark btn-xs" title="Start Console" (click)="consoleStart()" [disabled]="(pcstate$ | async) !== 'completed' || !!term"> -->
						<button type="button" class="btn btn-outline-dark btn-xs" title="Start Console" (click)="consoleStart()" [disabled]="pcstate !== 'completed' || !!term">
							<i class="fas fa-play fa-fw"></i> Start Console
						</button>
						<!-- <button type="button" class="btn btn-outline-dark btn-xs" title="Stop Console" [disabled]="(pcstate$ | async) !== 'completed' || !term"> -->
						<button type="button" class="btn btn-outline-dark btn-xs" title="Stop Console" (click)="consoleStop()" [disabled]="pcstate !== 'completed' || !term">
							<i class="fas fa-stop fa-fw"></i> Stop Console
						</button>
						<button type="button" class="btn btn-outline-dark btn-xs" title="Toggle Zen Mode" (click)="toggleZenMode()" [disabled]="pcstate !== 'completed' || !term">
							<i class="fas fa-expand-arrows-alt fa-fw"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col p-0">
				<i class="fas fa-compress-arrows-alt fa-fw pointer zen-toggler" *ngIf="zenModeEnabled" (click)="toggleZenMode()" title="Toggle Zen Mode"></i>
				<div #terminal style="width: 100%; height: 100px;" [ngClass]="{'zen-mode': zenModeEnabled}" [ngStyle]="{'height': consoleHeight, 'width': consoleWidth}"></div>
			</div>
		</div>
	</div>
</ng-container>
<ng-template #loading>
	<div class="container-fluid mt-3">
		<div class="alert alert-info" role="alert">
			<i class="fas fa-circle-notch fa-spin mr-2"></i> Loading please wait...
		</div>
	</div>
</ng-template>