<ng-container *ngIf="node$ | async as node; else loading">
	<div class="container-fluid mt-3">
		<div class="row">
		</div>
	</div>
	<!-- <form #f="ngForm" (submit)="ss.save(node, f)">
		<div class="container-fluid py-3">
			<div class="row">
				<div class="col">
					<div class="table-responsive m-0 p-0">
						<table class="table table-sm table-bordered m-0">
							<thead>
								<tr>
									<th width="10">Property</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Name</td>
									<td class="p-0">
										<input type="text" name="nName" class="form-control form-control-sm rounded-0" [(ngModel)]="node.name">
									</td>
								</tr>
								<tr>
									<td>Hostname</td>
									<td class="p-0">
										<input type="text" name="nHame" class="form-control form-control-sm rounded-0" [(ngModel)]="node.hostname" disabled>
									</td>
								</tr>
								<tr>
									<td>OS Type</td>
									<td class="p-0">
										<input type="text" name="nOSType" class="form-control form-control-sm rounded-0" [(ngModel)]="node.ostype" disabled>
									</td>
								</tr>
								<tr>
									<td>OS Arch</td>
									<td class="p-0">
										<input type="text" name="nOSArch" class="form-control form-control-sm rounded-0" [(ngModel)]="node.osarch" disabled>
									</td>
								</tr>
								<tr>
									<td class="text-nowrap">OS Platform</td>
									<td class="p-0">
										<input type="text" name="nOSPlat" class="form-control form-control-sm rounded-0" [(ngModel)]="node.osplatform" disabled>
									</td>
								</tr>
								<tr>
									<td>OS Relase</td>
									<td class="p-0">
										<input type="text" name="nOSRel" class="form-control form-control-sm rounded-0" [(ngModel)]="node.osrelease" disabled>
									</td>
								</tr>
								<tr>
									<td class="text-nowrap">Storage Pool Assignments</td>
									<td>
										<div class="table-responsive m-0 p-0">
											<table class="table table-sm table-borderless m-0">
												<thead>
													<tr>
														<th>Pool</th>
														<th>Assigned?</th>
														<th>Worker?</th>
													</tr>
												</thead>
												<tbody>
													<ng-container *ngIf="pools$ | async as pools">
														<tr *ngFor="let pool of pools">
															<td class="text-nowrap">{{pool.name}}</td>
															<td>
																<div class="form-check">
																	<input type="checkbox" class="form-check-input" name="nPA{{pool.id}}" [(ngModel)]="node.poolAssignments[pool.id]">
																</div>
															</td>
															<td>
																<div class="form-check">
																	<input type="checkbox" class="form-check-input" name="nPWA{{pool.id}}" [(ngModel)]="node.poolWorkerAssignments[pool.id]" [disabled]="!node.poolAssignments[pool.id]">
																</div>
															</td>
														</tr>
													</ng-container>
												</tbody>
											</table>
										</div>
									</td>
								</tr>
								<!-- <tr>
									<td class="text-nowrap">Pool Worker?</td>
									<td class="p-1">
										<div class="form-check">
											<input class="form-check-input" name="nIPW" type="checkbox" [(ngModel)]="node.isPoolWorker">
											<!-- <label class="form-check-label" for="defaultCheck1">
												Default checkbox
											</label> --    >
										</div>
									</td>
								</tr> -- >
	</tbody>
	</table>
	</div>
	<div class="btn-toolbar my-2" role="toolbar">
		<div class="btn-group btn-group-sm ml-auto">
			<button type="submit" class="btn btn-sm btn-outline-dark px-1 py-0" [disabled]="f.invalid && f.dirty">
				<i class="far fa-save fa-fw"></i> Save
			</button>
		</div>
	</div>
	</div>
	</div>
	</div>
	</form> -->
	<!-- <pre>{{node | json}}</pre> -->
</ng-container>
<!-- <ng-template #loading>
	<div class="container-fluid py-3">
		Please wait, loading...
	</div>
</ng-template> -->
<ng-template #loading>
	<div class="container-fluid mt-3">
		<div class="alert alert-info" role="alert">
			<i class="fas fa-circle-notch fa-spin mr-2"></i> Loading please wait...
		</div>
	</div>
</ng-template>