.epmmessage{
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	text-align: left;
	margin: 30px 0 135px 0;
	text-shadow: 1px 1px 0 white;
}

.epmslogan {
	font-family: 'Ubuntu', sans-serif;
	font-size: 42px;
	font-weight: 700;
	text-align: left;
	margin: 40px 0 0 0;
	line-height: 42px;
	text-shadow: 1px 1px 0 white;
}

.epmh2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 32px;
	font-weight: 700;
}

.epmsignupbox {
	margin-top: 40px;
}

.epmsignupheader {
	font-size: 18px;
	font-weight: bold;
}

.epmsignupbutton {
	width: 100%;
}

.textcenter, .textcenter td {
	text-align: center !important;
}

.epmactioncontainer{
	border: 2px solid #242A2F;
	border-radius: 10px;
	text-align: left;
	display: inline-block;
	height: 140px;
	width: 90%;
	background-color: white;
	font-size: 12px;
	font-weight: bold;
}

.epmactiontop{
	width: 100%;
	height: 30px;
	background-color: #242A2F;
	border-radius: 7px 7px 0 0;
	border-bottom: 2px solid #242A2F;
	margin: 0px 0 10px 0px;
	color: white;
	vertical-align: middle;
	line-height: 30px;
	font-weight: bolder;
	font-size: 13px;
	text-align: center;
}

.epmactionbottom {
	text-align: center;
	width: 100%;
	display: inline-block;
	color: rgb(33, 37, 41);
}

.dividerhr {
	border: 2px solid #aec9ce;
	border-radius: 2px;
	width: 5%;
}

.itiseasybanner {
	width: 100%;
}