<div class="container">
	<div class="row">
		<div class="col-8">
			<h1 class="epmslogan2">
				Cloud servers for EPM professionals.
			</h1>
			<p class="epmmessage2">
				Our cloud computing platform was built with the EPM community in mind. Creating your EPM infrastructure has never been this easy, whether for learning purposes of an individual or for
				corporate applications serving 100s of users. EPMVirtual gets out of your way so you can focus on creating amazing applications.
			</p>
		</div>
		<div class="col-4">
			<div class="card epmsignupbox">
				<div class="card-body">
					<h2 class="card-title epmsignupheader">
						Sign up and deploy your environment in 15 minutes.
					</h2>
					<form>
						<div class="form-group">
							<input class="form-control" type="text" name="email" id="email" placeholder="Enter email address">
						</div>
						<div class="form-group">
							<input class="form-control" type="password" name="password" id="password" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-evwarning epmsignupbutton">Create account</button>
					</form>
				</div>
				<div class="card-footer">
					By signing up you agree to the Terms of Service.
				</div>
			</div>
		</div>
	</div>

	<h1 class="epmslogan">
		Cloud servers for EPM professionals
	</h1>
	<p class="epmmessage">Create your EPM cloud server in just 15 minutes.</p>
	<div class="textcenter">
		<table width="834px" align="center">
			<tr>
				<td width="20%">
					<a href="order.php">
						<div class="epmactioncontainer">
							<div class="epmactiontop">
								Create your server
							</div>
							<span class="epmactionbottom">
								<img src="https://firebasestorage.googleapis.com/v0/b/epmvirtual-d8014.appspot.com/o/assets%2Fba9e7559-cb35-4fa2-9493-f04a12639890?alt=media&token=142e573a-6f81-4524-a94e-3f7856d780af"
								 height="64" width="64">
								<br> Just 3 steps
							</span>
						</div>
					</a>
				</td>
				<td width="7%">
					<img src="https://firebasestorage.googleapis.com/v0/b/epmvirtual-d8014.appspot.com/o/assets%2F78872bc5-b6ed-4498-b2c3-c41cb5fc1199?alt=media&token=5f33799a-0cb6-4c58-ac9b-35b06f45c367"
					 height="24" width="24">
				</td>
				<td width="20%">
					<a href="order.php">
						<div class="epmactioncontainer">
							<div class="epmactiontop">
								Enjoy your coffee
							</div>
							<span class="epmactionbottom">
								<img src="https://firebasestorage.googleapis.com/v0/b/epmvirtual-d8014.appspot.com/o/assets%2Fbcb3d769-3e5a-47b5-8552-cd7fb7cfec93?alt=media&token=ae33c77b-8bf1-427c-989c-24f4b4e44f87"
								 height="64" width="64">
								<br> It only takes that long
							</span>
						</div>
					</a>
				</td>
				<td width="6%">
					<img src="https://firebasestorage.googleapis.com/v0/b/epmvirtual-d8014.appspot.com/o/assets%2F78872bc5-b6ed-4498-b2c3-c41cb5fc1199?alt=media&token=5f33799a-0cb6-4c58-ac9b-35b06f45c367"
					 height="24" width="24">
				</td>
				<td width="20%">
					<a href="order.php">
						<div class="epmactioncontainer">
							<div class="epmactiontop">
								Your server is ready
							</div>
							<span class="epmactionbottom">
								<!--img src="images/icon64/right 3.png" height="64" width="64"-->
								<img src="https://firebasestorage.googleapis.com/v0/b/epmvirtual-d8014.appspot.com/o/assets%2F8c896f4d-df74-4497-a083-0a9fbd00acce?alt=media&token=a57541ae-cf95-4de3-9207-ba73451dc5a0"
								 height="64" width="128">
								<br> Create awesome apps
							</span>
						</div>
					</a>
				</td>
				<td width="7%">
					<img src="https://firebasestorage.googleapis.com/v0/b/epmvirtual-d8014.appspot.com/o/assets%2F78872bc5-b6ed-4498-b2c3-c41cb5fc1199?alt=media&token=5f33799a-0cb6-4c58-ac9b-35b06f45c367"
					 height="24" width="24">
				</td>
				<td width="20%">
					<a href="order.php">
						<div class="epmactioncontainer">
							<div class="epmactiontop" style="background-color: #28B78D;">
								Why wait?
							</div>
							<span class="epmactionbottom">
								<img src="https://firebasestorage.googleapis.com/v0/b/epmvirtual-d8014.appspot.com/o/assets%2Fa7250ce1-1120-41a5-9582-0b40bed919c4?alt=media&token=0b9f64b4-7fec-4f3d-b7d7-89a94a11cf8b"
								 height="64" width="64">
								<br> Click here to start
							</span>
						</div>
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>