<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<span *ngIf="!docsReceived" style="text-align: center">
				<i class="fas fa-circle-notch fa-spin"></i>
				<br> Refreshing, please wait...
				<br>
			</span>
			<span *ngIf="children.length == 0 && docsReceived">
				<br> There are no items under this folder.
				<br> Please use above buttons to create.
				<br>
				<br>
			</span>
			<div class="table-responsive" *ngIf="children.length > 0">
				<table class="table table-sm table-bordered m-0">
					<thead>
						<tr>
							<th class="py-0 my-0" width="10">
								<i class="far fa-square fa-fw pointer" title="Set All Selected" (click)="setAllSelected()" *ngIf="selectedItems.length === 0"></i>
								<i class="far fa-check-square fa-fw pointer" title="Set None Selected" (click)="setNoneSelected()" *ngIf="selectedItems.length === children.length"></i>
								<i class="far fa-minus-square fa-fw pointer" title="Set None Selected" (click)="setNoneSelected()" *ngIf="selectedItems.length < children.length && selectedItems.length > 0"></i>
							</th>
							<th class="py-0 my-0">Name</th>
							<th class="py-0 my-0 text-center text-nowrap" width="10">Created On</th>
							<th class="py-0 my-0 text-center" width="10">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of children; let last = last; let first=first; let i = index;">
							<td class="py-0 my-0">
								<i class="far fa-square fa-fw pointer" title="Select" (click)="setSelected(item.id)" *ngIf="!isSelected(item.id)"></i>
								<i class="far fa-check-square fa-fw pointer" title="Unselect" (click)="setUnselected(item.id)" *ngIf="isSelected(item.id)"></i>
							</td>
							<td class="py-0 my-0">
								<a [routerLink]="'../' + item.id">
									<i class="fas fa-folder fa-fw mr-1" *ngIf="item.type == itemType.folder"></i>
									<i class="fas fa-file fa-fw mr-1" *ngIf="item.type == itemType.document"></i>
									{{item.name}}
								</a>
							</td>
							<td class="py-0 my-0 text-center text-nowrap">
								<span title="{{item.createdOn}}">
									{{item.createdOn | date:'yyyy-MM-dd' }}
								</span>
							</td>
							<td class="py-0 my-0 text-center text-nowrap">
								<i (click)="ss.moveDown(ms.concept, i, children)" class="fas fa-caret-up fa-fw pointer" title="Move Up" *ngIf="!first"></i>
								<i class="fas fa-minus fa-fw" style="color: rgba(0,0,0,0)" *ngIf="last || first"></i>
								<i (click)="ss.moveDown(ms.concept, i, children)" class="fas fa-caret-down fa-fw pointer" title="Move Down" *ngIf="!last"></i>
								<i class="fas fa-arrows-alt fa-fw pointer" (click)="ss.changeParent({item: item})" title="Change Parent"></i>
								<i class="fas fa-i-cursor fa-fw pointer" title="Rename" (click)="rename(item.id, item.name)"></i>
								<i class="far fa-trash-alt fa-fw text-danger pointer" title="Delete" (click)="ss.delete({id:item.id, name:item.name})"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>