<ng-container *ngIf="candidates$ | async as co; else loading">
	<div class="container-fluid" *ngIf="co.items as candidates">
		<div class="row">
			<div class="col">
				<h4>Node Candidates</h4>
				<div class="table-responsive m-0 p-0" *ngIf="candidates.length > 0">
					<table class="table table-sm table-bordered m-0">
						<thead>
							<tr>
								<th class="text-nowrap" width="10">Actions</th>
								<th>Candidate ID</th>
								<th>Hostname</th>
								<th>Platform</th>
								<th>Type</th>
								<th>Arch</th>
								<th>Release</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let candidate of candidates;">
								<td class="text-nowrap">
									<i class="fas fa-check-double fa-fw pointer" title="Accept Candidate" (click)="candidateAccept(candidate)"></i>
									<i class="far fa-trash-alt fa-fw pointer text-danger ml-3" title="Reject Candidate" (click)="candidateReject(candidate)"></i>
								</td>
								<td>{{candidate.id}}</td>
								<td>{{candidate.hostname}}</td>
								<td>{{candidate.osplatform}}</td>
								<td>{{candidate.ostype}}</td>
								<td>{{candidate.osarch}}</td>
								<td>{{candidate.osrelease}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<p *ngIf="candidates.length == 0">There are no node candidates available.</p>
			</div>
		</div>
	</div>
</ng-container>
<ng-template #loading>
	<i class="fas fa-circle-notch fa-spin"></i> Loading please wait...
</ng-template>