<div class="container">
	<h1>Terms of Service</h1>
	<p>
		<b>Last updated: 22.June.2018</b>
	</p>
	<p>
		EPMVirtual.com (herein referred to as "EPMVirtual") agrees to provide services to the Subscriber, subject to 
		the following Terms of Service. Use of EPMVirtual's service constitutes acceptance and agreement to 
		EPMVirtual's Terms of Service.
	</p>
	<p>
		EPMVirtual reserves the right to modify the Terms of Service without notice.
	</p>
	<ol>
		<li>Licensing Policy:</li>
		EPMVirtual provides the infrastructure for services and can never be held responsible for any licencing issues 
		that may occur for the use of softwares. Subscriber agrees to handle all the software licenses and to abide 
		all the governing laws in this area.
		<br><br>
		<li>Eligibility &amp; Acceptance:</li>
		You may use our services, provided that you are of legal age to form a binding contract and are not barred 
		from receiving such services under the laws of your local jurisdictions. In order to access our services, 
		you are required to provide current and factual identification, contact, and other information as part of 
		the registration process. You are responsible for the confidentiality of your account information and for 
		all activities that occur under your account. You are solely responsible for all content within your 
		account. 
		<br><br>
		You agree to immediately notify EPMVirtual of any unauthorized use of your account or any other 
		breach of security. EPMVirtual will not be liable for any loss or damage as a result of your failure to 
		provide us with accurate information or to keep your account secure.
		<br><br>
		By registering for an account with your email address you are agreeing to the Terms of Service, 
		Privacy Policy, Acceptable Use Policy, and all other clauses listed here forth. If you do not wish to 
		accept these terms you can simply deactivate your account and not continue using it.
		<br><br>
		<li>Acceptable Use Policy:</li>
		EPMVirtual network and services are intended to be used as EPM (Enterprise Performance Management) 
		infrastructure. By agreeing this Terms of Service, subscribers agree to use all the services provided by 
		EPMVirtual only for EPM purposes. These purposes are limited to development, demo and end-user usage. 
		Any other ways or methods of infrastructure and network usage are banned.
		<br><br>
		Failure to comply with the "Acceptable Use Policy" will cause immediate service termination without any
		notice.
		<br><br>
		<li>Agreed Use of Allotted Network Resources:</li>
		Users shall not use any method to circumvent the provisions of the terms of service, or to obtain services 
		in excess of those for which they contract with EPMVirtual. Users shall use only those IP addresses that 
		are assigned to them by EPMVirtual, and shall not use any IP addresses outside of their assigned range. 
		Users shall not use any mechanism to exceed the amount of Network resources assigned to them, or to 
		conceal such activities.
		<br><br>
		<li>Restrictions:</li>
		You agree that you will NOT use EPMVirtual's services to: 
		violate any applicable state and federal law and regulation, including, but not limited to, 
			any copyright, trademark, patent,
			anti-piracy, or other intellectual property law or regulation, 
			or encourage or enable others to violate any such law or regulation. 
		Transmit, distribute, post, store, link, or otherwise
			traffic in information, software, or materials that is offensive, 
			abusive, inappropriate, malicious, or detrimental, including, 
			but not limited to, those that: Are obscene, fraudulent,	or discriminatory. 
		EPMVirtual does not permit adult websites even if they abide by state and federal law and regulation.
		<br><br> 
		Users are restricted from registering multiple accounts with the same billing details without first 
		notifying EPMVirtual of that intent to ensure that accounts aren't automatically flagged as possibly 
		fraudulent and without notification accounts may be treated as abuse and/or fraudulent which would 
		lead to suspension of service. 
		<br><br>
		EPMVirtual also reserves the right to terminate a customers account if they are targeted by malicious 
		activity from other parties.
		<br><br>
		Users may not use Network resources in a manner that would violate the lawful privacy rights of any 
		person, or to publish or republish defamatory statements, or to harass and embarrass.
		<br><br>
		<li>Acts of Sub-Users:</li>
		Users are responsible for the acts of others utilizing their Network access, and will be held responsible 
		for violations of this AUP (Acceptable Use Policy) by their sub-users or persons who gain access to the 
		Network using the User's access codes. Any activity that a User is prohibited from performing by this 
		AUP is equally prohibited to anyone using the Network-access of the User.
		<br><br>
		Accordingly, Users agree to take the following actions to control the activities of those who 
		connect to the Network by any means.
		<br><br>
		<li>Access Code Protection:</li>
		Users will utilize proper security protocols, such as setting strong passwords and access control 
		mechanisms, safeguarding access to all logins, passwords, and verifying the trustworthiness of persons who 
		are entrusted with account access information.
		<br><br>
		<li>Notification Regarding the AUP</li>
		Users will notify all persons who receive Network-access of the provisions of this AUP, and will inform 
		them that its terms are binding upon them.
		<br><br>
		<li>Remedial Action:</li>
		Users will notify EPMVirtual if and when they learn of any security breaches regarding the Network, and 
		will aid in any investigation or legal action that is taken by authorities and/or EPMVirtual to cure the 
		security breach.
		<br><br>
		<li>Remedies for Violations:</li>
		EPMVirtual may take any of the following appropriate actions to remedy violations of this AUP:
		<br>- Service Suspension or Termination: EPMVirtual may suspend or terminate any account without refund 
		by a User that violates the provisions of this AUP, as EPMVirtual may deem appropriate to the circumstances 
		of the violation. EPMVirtual will provide prior notice of the intent to suspend or terminate service if 
		the provision of notice will not, in EPMVirtual's judgment, run counter to the purposes of the AUP.
		<br><br>
		<li>Master Service Agreement Term</li>
		The term of this Agreement shall be monthly, to commence on the date that the User sign-ups electronically 
		for service by creating an account with an email address. Fees are billed by EPMVirtual on a monthly 
		billing cycle commencing on the first of each month, ending on the last day of the month.
		<br><br>
		<li>Invoicing Policies</li>
		All invoices are denominated, and User must pay, in U.S. Dollars. User will be billed on or around the 
		first of each month, with payment due no later than the 5 days past the invoice date.
		<br><br>
		<li>Arrearages</li>
		Payments not made within five (5) days of invoicing will be deemed in arrears. For accounts in arrears. 
		If any amount is more than five days overdue, EPMVirtual may suspend service, add a 10% late fee and bring 
		legal action to collect the full amount due, including any attorneys fees and costs.
		<br><br>
		<li>Suspension for Nonpayment</li>
		If a customer is past due on their balance, EPMVirtual will send one email notification within a 5 day 
		period before suspending the customer's account. Servers will be temporarily powered off during the 
		suspension period. EPMVirtual reserves the right to delete the customer's suspended machines after the 
		final termination notice.
		<br><br>
		<li>User Duties</li>
		User will: Provide and maintain accurate personal and business identifying information, including Social 
		Security Numbers, EIN Numbers, names, addresses, telephone numbers, and email addresses. Utilize proper 
		security protocols, such as setting strong passwords and access control mechanisms, safeguarding access to 
		all logins, passwords, verifying the trustworthiness of persons who are entrusted with account access 
		information, and notifying EPMVirtual if and when any security breaches involving data hosted or stored at 
		EPMVirtual occurs. Make full and timely payment of fees for services as selected pursuant to the terms of 
		service. Provide EPMVirtual with accurate information relevant to assessing fees. Comply with the terms of 
		this agreement, including the requirements of the terms of service, AUP, and Privacy Policy.
		<br><br>
		<li>Disclaimers and Waiver of Liability</li>
		EPMVirtual DISCLAIMS ALL WARRANTIES, EXPRESS, IMPLIED, OR STATUTORY, REGARDING THE SERVICES PROVIDED 
		HEREUNDER, INCLUDING ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND 
		NONINFRINGEMENT. NO REPRESENTATION OR OTHER AFFIRMATION OF FACT REGARDING HARDWARE, SOFTWARE, OR SERVICES, 
		NOR THE STATEMENT OR CONDUCT OF ANY AGENT OF EPMVirtual, SHALL BE DEEMED A WARRANTY FOR ANY PURPOSE OR 
		GIVE RISE TO ANY LIABILITY WHATSOEVER. USER ACKNOWLEDGES THAT HE OR SHE HAS RELIED ON NO WARRANTIES OR 
		STATEMENTS OTHER THAN AS MAY BE SET FORTH HEREIN. USER HEREBY WAIVES ANY AND ALL CLAIMS AGAINST EPMVirtual 
		ARISING OUT OF USER'S PURCHASE OR USE OF THE SOFTWARE, OR ANY CONDUCT OF EPMVirtual'S OFFICERS, EMPLOYEES,
		OR AGENTS. EPMVirtual SHALL NOT, UNDER ANY CIRCUMSTANCES, BE LIABLE TO USER OR ANY THIRD PARTY IN ANY 
		AMOUNT, OR FOR ANY INCIDENTAL, INDIRECT, EXEMPLARY, SPECIAL OR CONSEQUENTIAL DAMAGES, UNDER ANY 
		CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, LOST PROFITS, REVENUE OR SAVINGS, LOSS OF GOODWILL, LOSS OF
		ANY DATA OR THE LOSS OF USE OF ANY DATA, EVEN IF EPMVirtual HAD BEEN ADVISED OF, KNEW, OR SHOULD HAVE 
		KNOWN, OF THE POSSIBILITY THEREOF. NO DISCLOSURE BY EPMVirtual'S OFFICERS, EMPLOYEES, OR AGENTS, SHALL BE 
		MADE A CAUSE OF LIABILITY. UNDER NO CIRCUMSTANCES SHALL EPMVirtual's AGGREGATE CUMULATIVE LIABILITY 
		HEREUNDER, WHETHER IN CONTRACT, TORT, UNDER STATUTE, OR OTHERWISE, EXCEED THE AMOUNT OF ONE (1) MONTH OF 
		SERVICE PROVIDED PURSUANT TO THIS AGREEMENT. USER ACKNOWLEDGES THAT THE FEES PAID BY HIM OR HER REFLECT 
		THE ALLOCATION OF RISK SET FORTH IN THIS AGREEMENT AND THAT EPMVirtual WOULD NOT ENTER INTO THIS AGREEMENT
		WITHOUT THESE LIMITATIONS.
		<br><br>
		<li>Confidentiality</li>
		User shall keep confidential any Confidential Information to which it is given access, and shall cooperate 
		with EPMVirtual's efforts to maintain the confidentiality thereof. User shall not publish to third parties 
		or distribute information or documentation that EPMVirtual provides for purposes of operating and 
		maintaining its systems, including material contained in estimates, invoices, work orders, or other such 
		materials.
		<br><br>
		<li>Backup</li>
		User is solely responsible for the preservation of User's Data. Even with respect to Data as to which 
		User contracts for backup services, EPMVirtual shall have no responsibility to preserve Data, the service 
		is provided as is, without warranty.
		<br><br>
		<li>Export</li>
		User shall comply with all applicable export and import control laws and regulations in its use of 
		EPMVirtual Services, and, in particular, User shall not utilize EPMVirtual Services to export or 
		re-export Data or Software without all required United States and foreign government licenses. User 
		assumes full legal responsibility for any access and use of EPMVirtual Services, with full understanding 
		that the same may constitute export of technology and technical data that may implicate export 
		regulations and/or require export license, and represents that, should such a license be required, it 
		shall be User's responsibility to obtain the same, and in the event of any breach of this duty 
		resulting in legal claims against EPMVirtual, User shall defend and hold Licensor harmless from all 
		claims and damages arising therefrom.
		<br><br>
		<li>Indemnification</li>
		User shall defend, indemnify and hold harmless EPMVirtual from any and all claims or causes of action 
		arising out of User's misuse of EPMVirtual Services.
		<br><br>
		<li>Termination</li>
		Either party may terminate this Agreement if the other party fails to cure a material breach of the terms 
		of this Agreement within thirty (30) days after receiving notice thereof. In the event EPMVirtual 
		terminates this Agreement for User's material breach, any amounts owed to EPMVirtual hereunder before 
		such termination will be immediately due and payable, any and all rights granted to user this Agreement 
		will immediately be cancelled, and User shall promptly discontinue all use of the Services, relinquish 
		any Confidential Information in User's possession or control. If EPMVirtual determines that User's 
		failure to abide by the terms and conditions of this Agreement may give rise to unlawful consequences 
		or cause an immediate risk of damage to EPMVirtual, other Users, or third parties, EPMVirtual may 
		terminate this Agreement on less than thirty (30) days notice.
		<br><br>
		<li>Legal Compliance</li>
		EPMVirtual may suspend or terminate Services and this Agreement immediately upon receipt of any lawfully 
		issued notice from a court having jurisdiction over EPMVirtual, alleging the use of the Services to 
		accomplish violations of law, pending the resolution of the relevant court proceeding. When subjected 
		to lawful process requiring disclosure, EPMVirtual may disclose the User's identity and contact 
		information, and EPMVirtual shall not be liable for damages or results thereof, and User agrees not to 
		bring any action or claim against EPMVirtual for such disclosure.
		<br><br>
		<li>Survival</li>
		All terms of this Agreement, which by their nature are intended to survive termination of this Agreement, 
		shall so survive.
		<br><br>
		<li>Force Majeure</li>
		Either party shall be excused from performing hereunder to the extent that it is prevented from performing 
		as a result of any act or event which occurs and is beyond its reasonable control, including, without 
		limitation, acts of God, war, weather, utility or telecommunications outages, unrest or riot, strikes 
		any action of a governmental entity, etc.; provided that the party experiencing the force majeure provides 
		the other with prompt written notice thereof and uses reasonable efforts to remedy effects of such force 
		majeure.
		<br><br>
		<li>Integration and Miscellaneous Provisions</li>
		This Agreement, including all related agreements and policies incorporated by reference herein, constitutes 
		the entire agreement between the parties related to the subject matter hereof, supersedes any prior or 
		contemporaneous agreement between the parties relating to EPMVirtual's Services and shall not be modified 
		except by a written agreement signed by both parties, specifically recording the intent to amend this 
		Agreement. Any waiver of a provision of this Agreement must be in writing and signed by the party to be 
		charged. A valid waiver hereunder shall not be interpreted to be a waiver of that obligation in the future 
		or any other obligation under this Agreement. If any provision of this Agreement is prohibited by law or 
		held to be unenforceable, the remaining provisions hereof shall not be affected, and this Agreement shall 
		continue in full force and effect as if such unenforceable provision had never constituted a part hereof. 
		This Agreement may be executed in counterparts, each of which shall be deemed an original, but all of 
		which together shall constitute the same instrument.
		<br><br>
		This Agreement may be signed electronically.
		<br><br>
		<li>Privacy-Policy</li>
		- Personal Data Collected: EPMVirtual collects and stores personal information including the full name, 
		company name, billing address, email address, IP address, landing page, referring URL for all customers 
		upon registration and use of our service. We also store cookies for visitors to our websites in order to 
		identify them for relevant advertising through third party websites, also known as retargeting. We also 
		gather anonymous usage information from our visitors via cookies for usage with Google Analytics. If you 
		have any questions regarding the data that is collected and or stored please contact us via email to 
		admin@EPMVirtual.com.
		<br><br>
		- Security of Personal Data: EPMVirtual is committed to protecting the security of customer collected 
		Personal Data. To do so we employ a variety of industry-standard security technologies and measures to 
		help protect Users' data from unauthorized access, use, or disclosure.
		<!--
			which include but are not limited to encrypting any transmission of said information using secure 
			socket layer (SSL), passing of credit card information directly to our PCI compliant Merchant Processor, 
			encryption of any collected credit card information, encryption of passwords and other authentication 
			mechanisms such as API keys, and restricting access to encrypted information to support personnel at 
			EPMVirtual.
		-->
		We require that customers enter in a password to access their account information and request that 
		customers use a password composed of different characters and of a large length to strengthen security 
		and that they do not disclose this information to others via electronic formats or otherwise. Please 
		note that EPMVirtual cannot fully eliminate security risks associated with the collection of said data 
		and mistakes and security breaches may happen, please contact us if you have any questions regarding the 
		security of our website, application, or otherwise.
		<br><br>
		- Third Party Disclosure of Personal Data: EPMVirtual does not disclose any Personal Data to any third 
		party companies for purposes of partnerships or advertising, but reserves the right to do so.
		<br><br>
		- EPMVirtual may disclose Personal Data to comply with relevant laws and legal governing bodies of any 
		country in which we do business, or where a customer may reside in order to remain compliant with local 
		and International Laws, whereby mandated by state and or federal agencies for the purposes of criminal 
		investigations or by court order.
		<br><br>
		- EPMVirtual for the purposes of billing does disclose personal information such as name, billing address, 
		IP address, and credit card information to third party merchants for processing payments.
		<br><br>
		- Access to Personal Data: EPMVirtual customers have access to their personal data including full name, 
		company name, email address, and credit card information. Customers have the ability to delete data 
		related to their full name, company name, and identifiable billing information which will no longer be 
		stored in our databases, with the exception of: email address, network logs, cases where fraudulent or 
		otherwise illegal activity has been deemed to occurred as determined by law enforcement or EPMVirtual 
		management, in which case the information may remain in our database indefinitely in order to help 
		facilitate the prevention of repeated abuse in the future from the offending party.
		<br><br>
		- To have your email permanently removed please email us at admin@EPMVirtual.com.
		<br><br>
		- Server Data: EPMVirtual does not have access to customer's server data. The backend is locked away from 
		customer support staff and only engineering staff has access to the physical servers where customer virtual 
		machines reside. We do not store customer passwords nor private SSH keys and we do not request customer 
		login information to their servers. We do not review or audit any customer data.
		<br><br>
		<li>Advertising</li>
		EPMVirtual partners with third party ad networks to display advertising targeted to visitors of our website. 
		To do so we store a cookie for visitors for the purposes of displaying advertising also commonly known as 
		retargeting. The data that is stored and collected is non-identifiable and anonymous. 
		<br><br>
		EPMVirtual will send occasional promotional materials through email and customers have the option to 
		opt-out of these emails by either responding directly inside of the email itself or through updating 
		their preferences in our control panel.
		<br><br>
		<li>Opt Out</li>
		EPMVirtual customers can opt out of providing and asking that any Personal Data that was collected be 
		removed if they believe it is being used in a manner not consistent with the what was presented in the 
		privacy policy. In the event and at the sole discretion of EPMVirtual if it is determined that service 
		no longer be provided a pro-rated refund of service will be refunded to the customer and the data will be 
		removed as requested.
		<br><br>
		<li>Government Requests</li>
		Only in cases where EPMVirtual is served with a search warrant or a subpoena is any information passed 
		along to any law enforcement entities. Otherwise we do not monitor our customer's servers or data and 
		it is their responsibility to remain compliant within the laws of their own territories as well as the 
		territories from which EPMVirtual operates.
		<br><br>
		<li>Contact</li>
		EPMVirtual provides the following measures for contacting us regarding any issues related to this Privacy 
		Policy:
		<br> Email: admin@EPMVirtual.com
		<br>
		<!--Address:-->
		<br>
		<br>This Privacy Policy is subject to occasional revision, and if any substantial changes are made to the 
		way your Personal Data is used, we will notify you by email to the email address that you have provided 
		as being the most current posting the notice of such changes on our website. Any changes to the Privacy 
		Policy will be effective upon the earlier of either thirty (30) calendar days from the dispatch of the 
		email notice to you or thirty (30) calendar days following our posting of the update terms on our website, 
		or the date on which you accept the terms by clicking "I Accept" or similar means. These changes will be 
		effective immediately for any new users and customers of our website and related products and services.
		Please note that you are responsible at all times for updating your Personal Data and with providing us 
		with your most recent and current email address. In the event that the email address is no longer valid 
		the date at which the proposed changes were dispatched will still constitute effective notice of any 
		changes to the Privacy Policy. If you do not wish to permit changes in our use of your Personal Data you 
		must notify us prior to the effective date of the changes and that you wish to deactivate your account. 
		<br><br>
		Continued use of our website, products, and or related services, following notice of any such changes 
		shall indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions 
		of such changes.
	</ol>
</div>