<form (ngSubmit)="ss.save(item, f)" #f="ngForm">
	<div class="btn-toolbar pb-2" role="toolbar">
		<div class="btn-group btn-group-sm ml-auto pr-1">
			<button class="btn btn-outline-success" type="submit" [disabled]="f.invalid && f.dirty">
				<i class="fas fa-save fa-fw"></i> Save
			</button>
			<button class="btn btn-outline-dark" type="button" (click)="sectionCreate(f)">
				<i class="fas fa-plus fa-fw"></i> Add Section
			</button>
		</div>
	</div>
	<table class="table table-sm table-borderless mb-0">
		<tbody>
			<tr>
				<td width="10" class="text-nowrap align-middle">Name:</td>
				<td>
					<input type="text" name="name" class="form-control form-control-sm" [(ngModel)]="item.name">
				</td>
			</tr>
			<tr>
				<td width="10" class="text-nowrap align-middle">Created On:</td>
				<td>
					{{ item.createdOn | date }}
				</td>
			</tr>
			<tr>
				<td width="10" class="text-nowrap align-middle">Sections:</td>
				<td>
					<div class="table-responsive w-100">
						<table class="table table-sm table-hover mb-0 text-nowrap">
							<thead>
								<tr>
									<th width="10" class="text-center">
										Actions
									</th>
									<th class="pl-3">Title</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let section of item.sections; let i = index;">
									<td class="text-nowrap">
										<i class="fas fa-caret-up fa-fw pointer" (click)="sectionUp(i)"></i>
										<i class="fas fa-caret-down fa-fw pointer" (click)="sectionDown(i)"></i>
										<i class="fas fa-trash fa-fw pointer ml-3" (click)="sectionDelete(i, f)"></i>
									</td>
									<td class="text-nowrap pl-3">
										<a routerLink="./{{i}}">{{section.title}}</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</form>