<div class="container">
	<div class="row mb-5">
		<div class="col-12 col-md-8">
			<h1 class="epmslogan">
				Cloud servers for EPM community.
			</h1>
			<p class="epmmessage">
				Our cloud computing platform was built with the EPM community in mind. Creating your EPM infrastructure has never been this easy, whether for learning purposes of an
				individual or for
				corporate applications serving 100s of users. EPMVirtual gets out of your way so you can focus on creating amazing applications.
			</p>
		</div>
		<div class="col-12 col-md-4" *ngIf="!(authService.user | async)">
			<div class="card epmsignupbox bg-accent">
				<div class="card-body">
					<h2 class="card-title epmsignupheader">
						Sign up and deploy your EPM environment in 15 minutes.
					</h2>
					<form class="form-signin" #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
						<div class="form-label-group">
							<input type="email" name="email" id="email" class="form-control" placeholder="Email address" ngModel required email autofocus>
							<label for="email">Email address</label>
						</div>
						<div class="form-label-group">
							<input type="password" name="password" id="password" class="form-control" placeholder="Password" ngModel required>
							<label for="password">Password</label>
						</div>
						<div class="alert alert-danger" *ngIf="signUpError">{{ signUpError }}</div>
						<button type="submit" class="btn btn-evwarning epmsignupbutton">Create account</button>
					</form>
				</div>
				<div class="card-footer">
					By signing up you agree to the
					<a routerLink="/terms-of-service">Terms of Service</a>.
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4" *ngIf="authService.user | async as user">
			<div class="card epmsignupbox bg-accent">
				<div class="card-body">
					<h2 class="card-title epmsignupheader">
						Welcome back {{ user.displayName || user.email }}
					</h2>
					<div class="d-flex">
						<a routerLink="/console" class="btn btn-sm btn-evwarning ml-auto" *ngIf="user.email !== 'admin@epmvirtual.com'">Go to Console</a>
						<a routerLink="/admin" class="btn btn-sm btn-evwarning ml-auto" *ngIf="user.email === 'admin@epmvirtual.com'">Go to Console</a>
						<button type="button" class="btn btn-sm btn-dark ml-1" (click)="authService.signout()">Sign Out</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row pt-4 bg-light">
		<div class="col w-100">
			<h2 class="epmh2 textcenter">Designed for all levels</h2>
			<p class="epmmessage textcenter mt-1 mb-4" style="margin-bottom:10px;">Create your EPM cloud server in just 15 minutes and start building your project immediately.</p>
		</div>
	</div>
	<div class="row mt-0 bg-light">
		<div class="col textcenter mt-0">
			<img class="itiseasybanner"
				src="https://firebasestorage.googleapis.com/v0/b/epmvirtual-d8014.appspot.com/o/asset-VZtyOjXgDca5KxSMr8kl-it-is-easy-to-use-epmvirtual.png?alt=media"
				alt="It is easy to use EPMVirtual">
		</div>
	</div>
	<div class="row pt-5 pb-5 mb-5">
		<div class="col">
			<h2 class="epmh2 textcenter">Where you can learn and create</h2>
			<p class="epmmessage textcenter mt-1 mb-4" style="margin-bottom:10px;">Find new and unique resorces you can use to go from idea to production.</p>
			<div class="row equal">
				<div class="col mb-3" style="cursor: pointer;">
					<a class="bg-success d-block text-white h-100 w-100 p-4 rounded text-center">
						<h2 style="font-weight: 700; font-size: 22px;">EPMVirtual Related Tutorials</h2>
						<br> Although it is very simple to use, you can follow one of our tutorials to learn more about us.
					</a>
				</div>
				<div class="w-100 d-lg-none"></div>
				<div class="col mb-3" style="cursor: pointer;">
					<a class="bg-success d-block text-white h-100 w-100 p-4 rounded text-center">
						<h2 style="font-weight: 700; font-size: 22px;">Hyperion Related Tutorials</h2>
						<br> Currently we mainly focus on Oracle Hyperion Planning product for our tutorials.
						<br> We also plan to expand our library to include other product as we move forward.
						<br> Please come see what is cooking.
					</a>
				</div>
				<div class="w-100 d-lg-none"></div>
				<div class="col mb-3" style="cursor: pointer;">
					<a class="bg-success d-block text-white h-100 w-100 p-4 rounded text-center">
						<h2 style="font-weight: 700; font-size: 22px;">EPM Related Tutorials</h2>
						<br> Enterprise Performance Management is a broad field and you can check out our EPM library to see our take on the topic.
					</a>
				</div>
			</div>
		</div>
	</div>
</div>