<form #f="ngForm" (ngSubmit)="ss.save(item)">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="text-center w-100 d-block" *ngIf="!itemReceived">
					<hr>
					<i class="fas fa-circle-notch fa-spin"></i>
					<br> Refreshing, please wait...
					<br>
					<hr>
				</div>
				<div *ngIf="itemReceived">
					<div class="btn-toolbar w-100 mb-3" role="toolbar">
						<div class="btn-group btn-group-sm ml-auto mr-3" role="group">
							<button type="submit" class="btn btn-outline-dark">
								<i class="fas fa-save fa-fw"></i> Save
							</button>
							<button type="button" class="btn btn-outline-dark" (click)="newSection()">
								<i class="fas fa-plus fa-fw"></i> New Section
							</button>
						</div>
					</div>
					<tabset>
						<tab>
							<ng-template tabHeading>
								<i class="fas fa-sliders-h fa-fw"></i> Definitions
							</ng-template>
							<div class="border border-top-0 p-3">
								<app-admin-library-detail-article-definitions [item]="item"></app-admin-library-detail-article-definitions>
							</div>
						</tab>
						<tab *ngFor="let section of item.sections; let i = index;">
							<ng-template tabHeading>
								<span>{{ section.title }}</span>
							</ng-template>
							<div class="border border-top-0 p-3">
								<app-admin-library-detail-article-section [section]="section"></app-admin-library-detail-article-section>
							</div>
						</tab>
					</tabset>
				</div>
			</div>
		</div>
	</div>
</form>