<ng-container *ngIf="ss.cItem$ | async as item">
	<form (ngSubmit)="ss.save(item, f)" #f="ngForm">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="btn-toolbar my-2">
						<div class="btn-group btn-group-xs ml-auto">
							<button type="submit" class="btn btn-success" [disabled]="f.invalid && f.dirty">
								<i class="far fa-save fa-fw"></i> Save
							</button>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-sm table-borderless m-0">
							<tbody>
								<tr>
									<td class="text-nowrap pt-2" width="10">Name:</td>
									<td>
										<input type="text" name="gName" [(ngModel)]="item.name" class="form-control form-control-sm">
									</td>
								</tr>
								<tr>
									<td class="text-nowrap pt-2">Type:</td>
									<td>
										<select name="gType" [(ngModel)]="item.type" class="form-control form-control-sm">
											<option [value]="t[1]" *ngFor="let t of types">{{t[0]}}</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</ng-container>
<pre>{{ss.cItem$ | async | json}}</pre>