<div class="container py-3">
	<div class="row py-3 mb-5">
		<div class="col">
			<h1 class="text-center mb-5">Managed Servers</h1>
			<p>
				As EPMVirtual team, we provide two separate type of maintenance plans:
			</p>
			<ul>
				<li>Managed Servers</li>
				<li>Unmanaged Servers</li>
			</ul>
			<p>
				A managed server means that, the EPMVirtual team has the full responsibility of your
				server. This includes applying patches for your server, updating your MS Windows
				and MS Office applications, managing security and credentials, etc.
			</p>
			<p>
				When you own a managed server you still have the total ownership rights on the server,
				with the freedom of focusing your own work. Because we take care of all the hassle of
				patching, updating and managing.
			</p>
			<p>
				Server management fee is $200/month, and you can activate server management service
				by opening a support ticket after you subscribe to any of our server packages.
			</p>
			<a routerLink="/servers" class="font-weight-bold">Click here to check-out our server plans</a>
		</div>
	</div>
</div>